
body {
  font-family: Arial, sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 8px;
}

.icon {
  margin-right: 8px;
  cursor: pointer;
}

.file-icon {
  font-size: 1.2em;
}

.folder-icon {
  font-size: 1.2em;
  cursor: pointer;
}

.add-icon,
.rename-icon,
.delete-icon {
  margin-left: 4px;
  cursor: pointer;
}


button {
  background-color: #eaecee;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 4px;
}

button:hover {
  background-color: #2980b9;
}
